<% provide(:title, t(".edit_user")) %>

<section class="bg0 p-t-104 p-b-116">
  <div class="container">
    <div class="form_login">
      <h4 class="mtext-105 cl2 txt-center p-b-30">
        <%= t(".edit_user") %>
      </h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".email") %>
        </div>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.text_field :name, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".name") %>
        </div>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.file_field :picture, accept: Settings.accept_picture %>
        </div>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.text_field :phone, class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".phone") %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t(".waiting") %> <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.password_field :password, autocomplete: "new-password", class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".password") %>
        </div>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".password_confirmation") %>
        </div>

        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".current_password") %>
        </div>

        <%= f.submit t(".update"), class: "flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" %>
      <% end %>
      <p>
        <%= button_to t(".cancel_account"), registration_path(resource_name), data: { confirm: t(".sure") }, method: :delete %>
      </p>
      <%= link_to t(".back"), :back %>
    </div>
  </div>
</section>
