<% provide(:title, t(".unlock")) %>

<section class="bg0 p-t-104 p-b-116">
  <div class="container">
    <div class="form_login">
      <h4 class="mtext-105 cl2 txt-center p-b-30">
        <%= t(".unlock") %>
      </h4>
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="bor8 m-b-20 how-pos4-parent">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", placeholder: t(".email") %>
        </div>
        <%= f.submit t(".submit"), class: "flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" %>
      <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
