<p><%= t(".hi") %><%= @resource.email %>!</p>

<p><%= t(".request") %></p>

<p><%= link_to t(".change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".warning") %></p>
<p><%= t(".if_change") %></p>
